@model QAPDashboard.Views.Shared.Components.Checkbox.CheckboxViewModel

<label for="@Model.Id" class="mb-2 text-base font-medium text-gray-900 dark:text-gray-300">@Model.Label</label>
<input type="checkbox" id="@Model.Id" value="@Model.Value"
  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
  @(Model.IsChecked ? "checked" : "")>
<input type="hidden" id="@($"{Model.Id}_hidden")" name="@Model.Name" value="false">
