@model QAPDashboard.Views.Shared.Components.Input.InputViewModel

<label for="@Model.Id" class="mb-2 block text-base font-medium text-gray-700">@Model.Label</label>
<input
@{
  var className="";
  @if (!Model.Enabled)
  {
    className="w-full rounded-lg border-2 border-slate-300 p-2 transition-colors duration-300 focus:border-blue-300 focus:outline-none cursor-not-allowed bg-gray-200";
  }
  else
  {
    className="w-full rounded-lg border-2 border-slate-300 p-2 transition-colors duration-300 focus:border-blue-300 focus:outline-none";
  }
}
id="@Model.Id" name="@Model.Name" type="text"
  class="@className"
  value="@Model.Value" @(Model.Enabled ? "" : "disabled") />
