@using QAPDashboard.Views.Shared.Components.Button;
@using QAPDashboard.Views.Shared.Components.FilterDropdown
@using QAPDashboard.Views.Shared.Components.Spinner
@model RunListViewModel;

@{
  ViewData["Title"] = "Call List";
}

<div class="container mx-auto">

  <div class="mt-8 text-slate-700 px-4 pt-4 rounded">
    <h2 class="text-3xl mb-4">Call Results</h2>
  </div>

  <div class="w-full flex justify-around flex-row lg:flex-row">
    <!-- Left Sidebar - Donut chart -->
    <div class="order-1 mt-6 lg:order-1 w-full lg:w-3/5">
      <div id="RunDetailChart" class="w-full h-full flex flex-row items-center">
        <div class="py-6 w-full h-full" id="donut-chart"></div>
      </div>
    </div>
    <!-- Right Sidebar - Filter -->
    <div class="flex flex-col justify-center items-center order-2 lg:order-2 w-full lg:w-2/5">
      <form action="@Url.Content("~/run-list/" + Model.TestCaseName)" class="w-full space-y-6">
        <div class="grid grid-cols-2 gap-4">
          @await Component.InvokeAsync("FilterDropdown", new FilterDropdownViewModel() { Id = "testCaseDropdown", Name =
          "testCaseDropdown", Label = "Tests", Options = Model.Runs.TestCases, SelectedItem =
          Model.Runs.SelectedTestCaseFilter })
          <input type="hidden" id="testCaseFilter" name="testCaseFilter" value="@Model.Runs.SelectedTestCaseFilter" />
        </div>
        <div class="grid grid-cols-2 gap-4">
          @await Component.InvokeAsync("FilterDropdown", new FilterDropdownViewModel() { Id = "dateRangeDropdown", Name =
                    "dateRangeDropdown", Label = "Report From", Options = Model.Runs.DateRanges, SelectedItem =
                    Model.Runs.SelectedDateRange })
          <input type="hidden" id="dateRangeFilter" name="dateRangeFilter" value="@Model.Runs.SelectedDateRange" />
        </div>
        <div id="customRange" class="grid grid-cols-2 gap-4" style="display: none;">
          <div class="grid grid-cols-1 gap-4">
            <div class="flex items-center">
              <label for="startDate" class="bg-blue-500 text-white px-2 py-2 text-center w-20 mr-1 rounded-lg">From</label>
              <input type="date" id="=startDate" name="startDate" class="w-full rounded-lg p-2 focus:outline-none bg-white" value="@Model.Runs.CustomStartDate">
            </div>
          </div>
          <div class="grid grid-cols-1 gap-4">
            <div class="flex items-center">
              <label for="endDate" class="bg-blue-500 text-white px-2 py-2 text-center w-20 mr-1 rounded-lg">To</label>
              <input type="date" id="endDate" name="endDate" class="w-full rounded-lg p-2 focus:outline-none bg-white" value="@Model.Runs.CustomEndDate">
            </div>
          </div>
        </div>
        <div class="flex flex-col justify-center items-center">
          @await Component.InvokeAsync("Button", new ButtonViewModel { Type = "submit", Text = "Refresh Report",
                    TailwindClasses = "w-1/2" })
        </div>
      </form>
    </div>
  </div>

  <div class="mt-8 text-slate-700 px-4 pt-4 rounded">
    <table id="runsTable" class="w-full bg-white  mt-4 table-auto">
      <thead class="bg-blue-50 text-slate-700">
        <tr>
          <th class="p-4 border border-gray-300">Id</th>
          <th class="p-4 border border-gray-300">Date</th>
          <th class="p-4 border border-gray-300">Called Number</th>
          <th class="p-4 border border-gray-300">Duration</th>
          <th class="p-4 border border-gray-300">Detailed Result</th>
          <th class="p-4 border border-gray-300">Result</th>
          <th class="p-4 border border-gray-300">Audio</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var call in Model.Runs.Calls)
        {
          <tr class="bg-white hover:bg-sky-50">
            <td class="p-4 border border-gray-300">
              <a href="/run-result/@Model.TestCaseName/@call.CallId" class="text-blue-500 hover:underline">@call.CallId</a>
            </td>
            <td class="p-4 border border-gray-300">@call.Date.ToString("yyyy/MM/dd HH:mm:ss")</td>
            <td class="p-4 border border-gray-300">{EarlyMedia}@call.CalledNumber;From:@call.CallingNumber</td>
            <td class="p-4 border border-gray-300">@call.Duration</td>
            <td class="p-4 border border-gray-300">@call.DetailedResults</td>
            <td class="p-4 border border-gray-300">
              @{
                var bgcolor = call.Result switch
                {
                  "Success" => "bg-green-500",
                  "Failed" => "bg-red-400",
                  "Errored" => "bg-red-600",
                  "In Progress" => "bg-yellow-200",
                  "Unknown" => "bg-gray-200",
                  _ => "bg-gray-200",
                };
              }
              <div class="border-2 border-solid @bgcolor opacity-100 font-bold text-center rounded-lg">
                @call.Result
              </div>
            </td>
            <td class="p-4 border border-gray-300 flex flex-col justify-center items-center">
              <button type="button" id="audiodownload"
                class="text-blue bg-blue-300 hover:bg-blue-500 focus:ring-4 focus:outline-none cursor-pointer focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-300 dark:hover:bg-blue-500 dark:focus:ring-blue-800"
                onclick="downloadAudio('@call.CallId', '@call.AudioFileName')">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="none" viewBox="0 0 16 18">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M8 1v11m0 0 4-4m-4 4L4 8m11 4v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3" />
                </svg>
              </button>
              @await Component.InvokeAsync("Spinner", new SpinnerViewModel { Id = "download-spinner", Class = "w-6 h-6", Style = "display: none;" })
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@section Scripts
{
  <script>
    var dataTable = new DataTable("#runsTable", {
      columns: [
        { select: 1, sort: "asc" },
      ],
      perPage: 10,
    });
  </script>
  <script>
    const elements = {
      testCaseFilterDropdown: document.querySelector("#testCaseDropdown"),
      testCaseFilterInput: document.querySelector("#testCaseFilter"),
      dateRangeFilterDropdown: document.querySelector("#dateRangeDropdown"),
      dateRangeFilterInput: document.querySelector("#dateRangeFilter"),
      dateInputContainer: document.getElementById("customRange"),
      startDateInput: document.getElementById("startDate"),
      endDateInput: document.getElementById("endDate"),
    }

    function onTestCaseFilterChange(event) {
      elements.testCaseFilterInput.value = event.target.value;
      //event.target.form.submit();
    }

    window.onloadeddata = updateDateRangeFilterInput();

    function updateDateRangeFilterInput() {
      if (elements.dateRangeFilterInput.value === "Custom Range") {
        elements.dateInputContainer.style.display = "grid";
      }
    }

    function onDateRangeFilterChange(event) {
      if (event.target.value === "Custom Range") {
        elements.dateInputContainer.style.display = "grid";
      } else {
        elements.dateInputContainer.style.display = "none";
      }
      elements.dateRangeFilterInput.value = event.target.value;
      //event.target.form.submit();
    }

    document.addEventListener("DOMContentLoaded", () => {
      elements.testCaseFilterDropdown.addEventListener("change", onTestCaseFilterChange);
      elements.dateRangeFilterDropdown.addEventListener("change", onDateRangeFilterChange);
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script>
    const getChartOptions = () => {
      return {
        series:
          [
            @Model.Runs.Calls.ToList().Where(x => x.Result == "Success").Count(),
            @Model.Runs.Calls.ToList().Where(x => x.Result == "Failed").Count(),
            @Model.Runs.Calls.ToList().Where(x => x.Result == "Errored").Count(),
            @Model.Runs.Calls.ToList().Where(x => x.Result == "In Progress").Count(),
            @Model.Runs.Calls.ToList().Where(x => x.Result == "Unknown").Count(),
          ],
        colors: ["#38761d", "#cc0000", "#990000", "#f1c232", "#999999"],
        chart: {
          height: 420,
          width: "100%",
          type: "donut",
        },
        stroke: {
          colors: ["transparent"],
          lineCap: "",
        },
        plotOptions: {
          pie: {
            donut: {
              labels: {
                show: true,
                name: {
                  show: true,
                  fontFamily: "Inter, sans-serif",
                  offsetY: 20,
                },
                total: {
                  showAlways: true,
                  show: true,
                  label: "Total Calls",
                  fontFamily: "Inter, sans-serif",
                  formatter: function (w) {
                    const sum = w.globals.seriesTotals.reduce((a, b) => {
                      return a + b
                    }, 0)
                    return sum
                  },
                },
                value: {
                  show: true,
                  fontFamily: "Inter, sans-serif",
                  offsetY: -20,
                  formatter: function (value) {
                    return value
                  },
                },
              },
              size: "80%",
            },
          },
        },
        grid: {
          padding: {
            top: -2,
          },
        },
        labels: ["Success", "Failed", "Errored", "In Progress", "Unknown"],
        dataLabels: {
          enabled: false,
        },
        legend: {
          position: "bottom",
          fontFamily: "Inter, sans-serif",
        },
        yaxis: {
          labels: {
            formatter: function (value) {
              return value
            },
          },
        },
        xaxis: {
          labels: {
            formatter: function (value) {
              return value
            },
          },
          axisTicks: {
            show: false,
          },
          axisBorder: {
            show: false,
          },
        },
      }
    }

    if (document.getElementById("donut-chart") && typeof ApexCharts !== 'undefined') {
      const chart = new ApexCharts(document.getElementById("donut-chart"), getChartOptions());
      chart.render();

      // Get all the checkboxes by their class name
      /*const checkboxes = document.querySelectorAll('#devices input[type="checkbox"]');

      // Function to handle the checkbox change event
      function handleCheckboxChange(event, chart) {
        const checkbox = event.target;
        if (checkbox.checked) {
          switch (checkbox.value) {
            case 'desktop':
              chart.updateSeries([15.1, 22.5, 4.4, 8.4]);
              break;
            case 'tablet':
              chart.updateSeries([25.1, 26.5, 1.4, 3.4]);
              break;
            case 'mobile':
              chart.updateSeries([45.1, 27.5, 8.4, 2.4]);
              break;
            default:
              chart.updateSeries([55.1, 28.5, 1.4, 5.4]);
          }

        } else {
          chart.updateSeries([35.1, 23.5, 2.4, 5.4]);
        }
      }

      // Attach the event listener to each checkbox
      checkboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', (event) => handleCheckboxChange(event, chart));
      });*/
    }
  </script>

  <script>
    async function downloadAudio(runName, audioFileName) {
      const audioDownloadButton = document.getElementById('audiodownload');
      const audioSpinner = document.getElementById('download-spinner');
      audioDownloadButton.style.display = "none";
      audioSpinner.style.display = "block";
      const apiUrl = `/api/audio?runId=${runName}`;
      const response = await fetch(apiUrl);

      // Check if the response is successful
      if (!response.ok) {
        throw new Error('Failed to fetch audio.');
      }
      const audioBlob = await response.blob();
      const url = window.URL.createObjectURL(audioBlob);
      const link = document.createElement('a');
      link.href = url;
      link.setAttribute('download', audioFileName);
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
      window.URL.revokeObjectURL(url);
      audioSpinner.style.display = "none";
      audioDownloadButton.style.display = "block";
    }
  </script>
}
