@model QAPDashboard.Views.Shared.Components.Button.ButtonViewModel

@{
    if (String.IsNullOrEmpty(Model.Label))
    {
        <button id="@Model.Id" name="@Model.Name" type="@Model.Type"
            class="@Model.TailwindClasses border-blue-800 rounded-md border bg-blue-400 px-4 py-2 font-semibold text-black transition-colors duration-300 hover:border-blue-200 hover:bg-blue-200 hover:scale-105 focus:outline-none cursor-pointer"
            @(Model.IsDisabled ? "disabled" : "") @(Model.IsHidden ? "hidden" : "") @(Model.Event)>@Model.Text</button>
    }
    else
    {
        <label for="@Model.Id" class="block text-sm font-medium text-gray-700 lg:mb-2">@Model.Label</label>
        <button id="@Model.Id" name="@Model.Name" type="@Model.Type"
            class="@Model.TailwindClasses border-blue-800 mb-4 mr-2 rounded-md border bg-blue-400 px-4 py-2 font-semibold text-black transition-colors duration-300 hover:border-blue-200 hover:bg-blue-200 hover:scale-105 whitespace-nowrap focus:outline-none cursor-pointer"
            @(Model.IsDisabled ? "disabled" : "") @(Model.IsHidden ? "hidden" : "") @(Model.Event)>@Model.Text</button>
    }
}
